#include <winres.h>
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

VS_VERSION_INFO VERSIONINFO

FILEVERSION			2,2,0,0
PRODUCTVERSION		2,2,0,0
FILEFLAGS			VS_FF_PRERELEASE|VS_FF_SPECIALBUILD|VS_FF_PRIVATEBUILD
FILEFLAGSMASK		VS_FFI_FILEFLAGSMASK
FILEOS				VOS_NT
FILETYPE			VFT_APP
//FILESUBTYPE 0x0L
BEGIN
BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904b0"
		BEGIN
			VALUE "ProductName", "m1mikatz"
			VALUE "ProductVersion", "2.2.0.0"
			VALUE "CompanyName", "Gkiwi (Benjamin DELPY)"
			VALUE "FileDescription", "m1mikatz for Windows"
			VALUE "FileVersion", "2.2.0.0"
			VALUE "InternalName", "m1mikatz"
			VALUE "LegalCopyright", "Copyright (c) 2007 - 2020 gentilkiwi (Benjamin DELPY)"
			VALUE "OriginalFilename", "m1mikatz.exe"
			VALUE "PrivateBuild", "Build with love for POC only"
			VALUE "SpecialBuild", ":)"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0409, 1200
	END
END

100	ICON	"mimikatz.ico"